<div class="container">
  <div class="row" style="margin-top:50px;">
    <strong class="col-md-12 text-center" style="padding-top:5px; font-size:30px;">本当に退会しますか？</strong>
  </div>

  <div class="row" style="margin-top:45px;">
    <div class="col-md-12">
      <p class="text-center" style="font-size:20px;">
        退会すると、会員登録情報や</br>
        これまでの購入履歴が閲覧できなくなります。</br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
    </div>
  </div>

  <div class="row" style="margin-top:20px;">
    <div class="col-md-1" style="margin-left:410px;"><%= link_to "退会しない",customers_path,class:"btn btn-primary text-light",style:"width:130px; height:35px;"%></div>
    <div class="col-md-1" style="margin-left:60px;"><%= link_to "退会する",withdraw_path,method: :patch, data: { confirm: '本当に退会しますか？' },class:"btn btn-danger text-light",style:"width:130px; height:35px;"%></div>
  </div>
</div>